<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="local"/>
  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=StackOverflowDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <add name="remote" connectionString="Server=415b80e0-2c92-4bd7-9257-a44c0012a3c3.sqlserver.sequelizer.com;Database=db415b80e02c924bd79257a44c0012a3c3;User ID=mlauavnbdhviesaq;Password=H3c5euetepmCnRXiyEVVfrKDHCPQM2uNb4KEUTYjvPSTMbYyBR5L5oGrqEvJMwNm;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>